<form action="http://localhost:3000/api/v1/items" enctype="multipart/form-data" method="post">
 <p> You know nothing. 
 <input type="text" name="submit-name">
 <br> What file are you sending? <input type="files" name="file"><br> 
 </p> 
 <input type="submit" value="Send"> <input type="reset"> </form>
